In [51]:
import pandas as pd
import numpy as np

R = 8.314

In [52]:
def bar_pas(bar):
    return bar * 100000

In [53]:
def lit_met(lit):
    return lit * 1000

In [54]:
def zc(row, R=8.314):
    if row['zc'] is None:
        row['zc'] = row['Pc'] / (row['pc'] * R * row['Tc'])
    return None

In [55]:
data = {
    'Ne': {
        'Tc': 44.8,
        'Pc': 2.73*10**6,
        'pc': 2.4*10**4,
        'zc': 0.305
    },
    'Xe': {
        'Tc': 289.8,
        'Pc': 5.84*10**6,
        'pc': 8.418*10**3,
        'zc': 0.288
    },
    'He': {
        'Tc': 5.2,
        'Pc': bar_pas(2.274),
        'pc': lit_met(17.4),
        'zc': None
    },
    'Ar': {
        'Tc': 150.86,
        'Pc': bar_pas(4.8979),
        'pc': lit_met(13.28),
        'zc': 0.294
    },
    'Kr': {
        'Tc': 209.46,
        'Pc': bar_pas(55.2019),
        'pc': lit_met(11),
        'zc': None
    },
    'H2': {
        'Tc': 33.18,
        'Pc': bar_pas(13),
        'pc': lit_met(15.4),
        'zc': None
    },
    'N2': {
        'Tc': 126.19,
        'Pc': bar_pas(33.978),
        'pc': lit_met(11.18),
        'zc': None
    },
    'O2': {
        'Tc': 154.58,
        'Pc': bar_pas(50.43),
        'pc': lit_met(13.6),
        'zc': None
    },
    'Cl2': {
        'Tc': 416.956,
        'Pc': bar_pas(79.914),
        'pc': lit_met(8.1344),
        'zc': None
    },
    'CO': {
        'Tc': 134.45,
        'Pc': bar_pas(34.9875),
        'pc': lit_met(11.1),
        'zc': None
    },
    'CH4': {
        'Tc': 190.6,
        'Pc': bar_pas(46.1),
        'pc': lit_met(10.1),
        'zc': None
    },
    'CO2': {
        'Tc': 304.18,
        'Pc': bar_pas(73.8),
        'pc': lit_met(10.6),
        'zc': None
    },
    'SF6': {
        'Tc': 318.72,
        'Pc': bar_pas(3.759),
        'pc': lit_met(5.147),
        'zc': None
    }
    

}

df = pd.DataFrame(data)

In [56]:
df

,Ne,Xe,He,Ar,Kr,H2,N2,O2,Cl2,CO,CH4,CO2,SF6
Tc,44.800,289.800,5.2,150.860,209.46,33.18,126.19,154.58,416.956,134.45,190.6,304.18,318.72
Pc,2730000.000,5840000.000,227400.0,489790.000,5520190.00,1300000.00,3397800.00,5043000.00,7991400.000,3498750.00,4610000.0,7380000.00,375900.00
pc,24000.000,8418.000,17400.0,13280.000,11000.00,15400.00,11180.00,13600.00,8134.400,11100.00,10100.0,10600.00,5147.00
zc,0.305,0.288,NaN,0.294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
for column in df:
    if np.isnan(df[f'{column}']['zc']):
        df[f'{column}']['zc'] = df[f'{column}']['Pc'] / (df[f'{column}']['pc'] * R * df[f'{column}']['Tc'])

/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/3209195827.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[f'{column}']['zc'] = df[f'{column}']['Pc'] / (df[f'{column}']['pc'] * R * df[f'{column}']['Tc'])

In [58]:
df

,Ne,Xe,He,Ar,Kr,H2,N2,O2,Cl2,CO,CH4,CO2,SF6
Tc,44.800,289.800,5.200000,150.860,2.094600e+02,3.318000e+01,1.261900e+02,1.545800e+02,4.169560e+02,1.344500e+02,1.906000e+02,3.041800e+02,318.720000
Pc,2730000.000,5840000.000,227400.000000,489790.000,5.520190e+06,1.300000e+06,3.397800e+06,5.043000e+06,7.991400e+06,3.498750e+06,4.610000e+06,7.380000e+06,375900.000000
pc,24000.000,8418.000,17400.000000,13280.000,1.100000e+04,1.540000e+04,1.118000e+04,1.360000e+04,8.134400e+03,1.110000e+04,1.010000e+04,1.060000e+04,5147.000000
zc,0.305,0.288,0.302293,0.294,2.881710e-01,3.060104e-01,2.896817e-01,2.885272e-01,2.833982e-01,2.819805e-01,2.880359e-01,2.753023e-01,0.027561

In [59]:
avg = df.mean(axis=1)
std = df.std(axis=1)

In [60]:
print(f"Average zc: {avg.values[-1]:.3}")
print(f"Standard deviation zc: {std.values[-1]:.3}")

Average zc: 0.271
Standard deviation zc: 0.0736

In [61]:
df.to_csv('hw1_q4.csv')

In [62]:
max = df.max(axis=1)
max_col = df.idxmax(axis=1)

for i in range(len(df)):
    print(f"{df.index[i]}: max = {max[i]:.3}, Column = {max_col[i]}")

Tc: max = 4.17e+02, Column = Cl2
Pc: max = 7.99e+06, Column = Cl2
pc: max = 2.4e+04, Column = Ne
zc: max = 0.306, Column = H2

/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/3781666475.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.index[i]}: max = {max[i]:.3}, Column = {max_col[i]}")

In [63]:
min = df.min(axis=1)
min_col = df.idxmin(axis=1)


for i in range(len(df)):
    print(f"{df.index[i]}: min = {min[i]:.3}, Molecule = {min_col[i]}")

Tc: min = 5.2, Molecule = He
Pc: min = 2.27e+05, Molecule = He
pc: min = 5.15e+03, Molecule = SF6
zc: min = 0.0276, Molecule = SF6

/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/260186119.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.index[i]}: min = {min[i]:.3}, Molecule = {min_col[i]}")

In [64]:
upper_bound = avg + std
lower_bound = avg - std

# for i in range(len(df)):
#     if i == 0:
#         tc = df[:1]
#         for name, data in tc.items():
#             if data.values[0] > upper_bound[0]:
#                 print(f"{name} is above the standard deviation of {df.index[i]}")
#             if data.values[0] < lower_bound[0]:
#                 print(f"{name} is below the standard deviation of {df.index[i]}")
#     else:
#         row_ind = df[i:i+1]
#         for name, data in tc.items():
#             if data.values[0] > upper_bound[i]:
#                 print(f"{name} is above the standard deviation of {df.index[i]}")
#             elif data.values[0] < lower_bound[i]:
#                 print(f"{name} is below the standard deviation of {df.index[i]}")

In [65]:
mark_std = []
for i in range(len(df)):
    if i == 0:
        tc = df[:1]
        tc_dict = {
                "Tc":{
                    
                }
            }
        for name, data in tc.items():
            if data.values[0] > upper_bound[0]:
                tc_dict["Tc"][name] = f"+ {(np.abs(data.values[0] - upper_bound[0])):.2e}"
            if data.values[0] < lower_bound[0]:
                tc_dict["Tc"][name] = f"-: {(np.abs(data.values[0] - upper_bound[0])):.2e}"
        mark_std.append(tc_dict)
    else:
        row_ind = df[i:i+1]
        row_ind_dict = {
            f"{row_ind.index[0]}":{

            }
        }
        for name, data in row_ind.items():
            if data.values[0] > upper_bound[i]:
                row_ind_dict[f"{row_ind.index[0]}"][name] = f"+: {(np.abs(data.values[0] - upper_bound[i])):.2e}"
            elif data.values[0] < lower_bound[i]:
                row_ind_dict[f"{row_ind.index[0]}"][name] = f"-: {(np.abs(data.values[0] - upper_bound[i])):.2e}"
        mark_std.append(row_ind_dict)

mark_std_df = pd.DataFrame(mark_std)

mark_std_df
mark_std_df_transposed = mark_std_df.transpose()
mark_std_df_transposed
mark_std

/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/1923584883.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if data.values[0] > upper_bound[0]:
/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/1923584883.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if data.values[0] < lower_bound[0]:
/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/1923584883.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  tc_dict["Tc"][name] = f"-: {(np.abs(data.values[0] - upper_bound[0])):.2e}"
/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/1923584883.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  tc_dict["Tc"][name] = f"+ {(np.abs(data.values[0] - upper_bound[0])):.2e}"
/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/1923584883.py:24: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if data.values[0] > upper_bound[i]:
/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/1923584883.py:26: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif data.values[0] < lower_bound[i]:
/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/1923584883.py:27: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  row_ind_dict[f"{row_ind.index[0]}"][name] = f"-: {(np.abs(data.values[0] - upper_bound[i])):.2e}"
/var/folders/z_/6bzkbs012v57_96_cfxgbkzw0000gr/T/ipykernel_82499/1923584883.py:25: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  row_ind_dict[f"{row_ind.index[0]}"][name] = f"+: {(np.abs(data.values[0] - upper_bound[i])):.2e}"

[{'Tc': {'Ne': '-: 2.61e+02',
   'He': '-: 3.00e+02',
   'H2': '-: 2.72e+02',
   'Cl2': '+ 1.11e+02',
   'SF6': '+ 1.30e+01'}},
 {'Pc': {'He': '-: 6.12e+06',
   'Ar': '-: 5.86e+06',
   'Cl2': '+: 1.64e+06',
   'CO2': '+: 1.03e+06',
   'SF6': '-: 5.97e+06'}},
 {'pc': {'Ne': '+: 6.99e+03', 'He': '+: 3.91e+02', 'SF6': '-: 1.19e+04'}},
 {'zc': {'SF6': '-: 3.17e-01'}}]